@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?6s6d3k');
    src:    url('../fonts/icomoon.eot?6s6d3k#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?6s6d3k') format('truetype'),
        url('../fonts/icomoon.woff?6s6d3k') format('woff'),
        url('../fonts/icomoon.svg?6s6d3k#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-envelope:before {
    content: "\e900";
}
.icon-phone:before {
    content: "\e901";
}
.icon-menu:before {
    content: "\e902";
}
.icon-close:before {
    content: "\e903";
}

/*tipo de selector {
	propiedad:valor;
	propiedad-2:valor;
}*/

/*Selector universal*/
/* 
* {
	padding: 10px;
	/*padding-top: 10px;
	padding-left: 15px;
	padding-right: 13px;
	padding-bottom: 5px;*/
	/*padding: 10px, 15px, 5px, 13px;
	margin: 10px;
	border: 2px solid red;
}*/

/*Selector de etiquetas*/
/*
section {
	background: purple;
}*/

body {
	font-family: 'Allerta', sans-serif;
	margin: 0;
}

/*portada*/

.portada {
	color: white;
	padding: 20px;
	height: 500px;
}

.portada button {
	margin-bottom: 70px;
	border-radius: 10%;
	background: #fd324e;
	border: none;
	color: white;
	padding: 7px;
	font-size: 15px;
	background: linear-gradient(to left, #fe344e, #ff7250);
	cursor: pointer;
}

.background {
	background-image: url("../img/background.png");
	background-size: cover;	
}

.header {
	position: relative;
	color: white;
}

.contenedor {
	max-width: 800px;
	margin: auto;
	position: relative;
}

.logotipo {
	display: inline-block;
	margin-left: 0;
	position: relative;
	bottom: 10px
}

.menu {
	font-size: 24px;
	display: inline-block;
	position: absolute;
	right: 0px
}

.menu li {
	display: inline-block;
	margin-left: 30px;
}

.menu li:before{
	content: '°';
}

.menu a {
	color: white;
	text-decoration: none;
}

.titulo {
	font-family: 'Monserrat', sans-serif;
	font-size: 70px;
	margin-bottom: 0;
	margin-top: 70px;
}

.titulo span {
	text-decoration: underline;
}

h3 {
	margin-bottom: 25px;
}

.title-a {
	font-size: 24px;
	margin-top: 0;
}

/*portada*/
/*guitarras*/

.guitarras {
	color: #1F313C;
	margin-bottom: 60px;
}

.guitarras h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
}

.video-demo-contenedor {
  display: flex;
  justify-content: center; /*para centrar de forma fluida*/
  margin-bottom: 45px;
}

.video-demo {
  max-width: 500px;
  /*margin: 0 auto 45px; /*centrar y adicional darle un margen inferior*/
  width: 100%;
  border: 5px solid #3c5b6e;
}

video {
	width: 100%;
}

.video-responsive-contenedor {
	position: relative;
	padding-top: 56.25%;
}

.video-responsive-src {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.guitarra {
	margin: 10px 10px 40px 10px;
	padding: 10px;
	border: 1px solid #1F313C;
	border-top-right-radius: 30px;
}

.right {
	float: right;
	position: relative;
	bottom: 49px;
}

.contenedor-guitarra-a {
	/*position: relative;
	bottom: 20px;
	left: 20px*/
	padding-left: 20px;
}

.title-b {
	font-size: 50px;
}

ol {
	margin: 5px;
}

.left {
	float: left;
	position: relative;
}

.contenedor-guitarra-b {
	margin-left: 370px;
	position: relative;
	bottom: 30px;
}

/*guitarras*/
/*footer*/

footer {
	background-color: #273b47;

}

.footer {
	padding: 50px 10px;
}

.footer .contenedor {
	display: flex;
	justify-content: space-between;
}

.contacto {
	display: flex;
	width: 300px;
	flex-wrap: wrap;
	border-left: 10px solid #273b47;
	align-items: center;
}

.contacto img {
	display: block;
}

.contacto a {
	color: white;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 10px;
}

.contacto strong {
	display: block;
}

.formulario {
	display: flex;
	width: 400px;
	color: white;
}

.formulario label, .genero, .intereses {
	margin-top: 10px;
}

.intereses label {
	font-size: 13px;
}

.col1 {
	margin-right: 15px;
}

.col1, .col2 {
	display: flex;
	flex-direction: column;
}

.col2 {
	align-items: flex-start;
}

.submit {
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 10%;
	cursor: pointer;
}

/*footer*/

table {
	width: 100%;
	border-collapse: collapse;
}

th {
	background: #273b47;
	color: white;
	padding: 10px;
	text-align: left;
	padding-left: 20px;
}

td {
	padding: 20px;
}

table, td, th {
	border: 1px solid #273b47;
}

input, textarea {
	outline: 0;
}

input:focus, textarea:focus {
	background: lightgray;
}

.tabla {
	margin: 50px 15px;
}

.burguer-button {
	display: none;/*para que solo se muestre cuando se cumpla el mediaquerie requerido*/
}
/*Selector de id*/

/*#portada {
	border: 3px solid orange;
}

#guitarras {
	border: 3px solid brown;
}*/

@media screen and (max-width: 800px) {
	/*precios*/
	.tabla .contenedor {
		overflow: auto; /*para que se ponga el scroll y la tabla no se desborde*/
		border: 1px solid #273b47;
	}
	/*precios*/
	/*portada*/

	.portada {
		height: auto;
	}

	.titulo {
		font-size: 45px;
		margin-top: 30px;
	}
	.title-a {
		font-size: 18px;
	}

	/*portada*/
	/*guitarras*/
	.video-demo-contenedor {
    	margin-bottom: 30px;
  	}

	.guitarras {
		text-align: center;
	}
	.right, .left {
		float: none;
		position: static; /*reiniciar la posicion*/
	}
	.title-b {
		margin: 0;
	}
	.guitarra li {
		list-style: none;
	}
	.contenedor-guitarra-a {
		position: initial;
	}
	.contenedor-guitarra-b {
		margin: auto;
		position: static;
	}
	/*guitarras*/
	/*footer*/
	.col1 {
		margin-right: 5px;
	}
}

@media screen and (max-width: 767px) {

	.footer .contenedor {
		display: block;
	}

	.contacto {
		margin: 0 auto;
	}

	.formulario {
		display: block;
		margin: 0 auto;
		width: 300px;
	}

	.intereses label {
		display: block;
		font-size: 16px;
	}

	.col1 {
		margin: 0;
	}

	input[type="text"], input[type="email"] {
		font-size: 16px;
		padding: 5px;
	}

	input[type="radio"], input[type="checkbox"] {
		zoom: 1.5;
	}

	textarea {
		width: 100%;
	}

}

@media screen and (max-width: 650px) {
	
	.header {
		text-align: center;
	}
	.logotipo {
		margin: 0px;
	}
	.menu {
		position: static;
		display: block;
	}
	.menu li:first-child {
		margin: 0;
	}
	.menu ul {
	    padding: 0px;
	}
	.portada button {
		margin-bottom: 20px;
	}
	.video-demo {
		margin: 0 10px;
	}
}

@media screen and (max-width: 500px) {
	/*portada*/
	.portada .contenedor {
		position: static;
	}

	.header {
		position: static;
	}

	.header .contenedor {
		position: static;
	}

	.burguer-button {
		color: white;
		width: 40px;
		line-height: 40px;
		height: 40px;
		border-radius: 50%;
		background: #395667;
		text-align: center;
		position: fixed;
		left: 20px;
		top: 20px;
		cursor: pointer; /*para que el cursor cambie al pasar por encima*/
		z-index: 3; /*para que cuando se active el menu, este no quede oculto*/
		display: inline-block;
	}

	.menu {
		background: rgba(255, 60, 88, 0.8);/*el color en RGBA para poder manipular el canal alfa y darle transparencia*/
		position: fixed;/*poner fijo el menu para que al hacer scroll este no se quite de la pantalla*/
		left: -100%;
		top: 0;
		z-index: 2;/*para que este menu aparesca por encima de todo ya que por defecto se tiene un z-index de 0 o 1*/
		bottom: 0;
		right: 0;
		display: flex;
		align-items: center;
		width: 100%;/*uso este ancho para que con el valor negativo del left se pueda ocultar hasta que lo desee*/
		transition: .3s;
	}

	.menu ul {
		flex: 1; /*como hereda la el display flex del menu, se pone el uno para que todo quede totalmente centrado*/
	}

	.menu.active {
		left: 0;
	}

	.portada {
		text-align: center;
	}
	
	.menu li {
		display: block;
		margin: 0px;
		padding: 8px 0px;
		border-bottom: 1px solid white;
	}

	.menu li:first-child {
		border-top: 1px solid white;
	}

	.menu li:before{
		content: none;
	}

	.titulo {
		font-size: 30px;
	}
	/*portada*/
	/*portada-precios*/
	.precios .header .logotipo {
		margin: 30px 0;
	}
	/*portada-precios*/
	/*guitarras*/
	.guitarra img {
		width: 250px;
	}

	.title-b {
		font-size: 40px;
	}

	.video-demo-contenedor {
    	margin: 0 10px 30px 10px;
  	}
	/*guitarras*/
}